.container {
  margin: 10px 50px 100px 50px;
}

.row {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-weight: 600;
}

hr {
  margin-top: 50px;
  margin-bottom: 25px;
  color: #e1e1e1;
}
